@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;

        outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.container {
    max-width: 1152px;
    margin: auto;
}

header {
    min-height: 50px;
    width: 100%;
    background: #E5E5E5;

}

.navigation {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    padding-bottom: 8px;


    >.logo-img {
        width: 89px;
        height: 23px;
        position: relative;
    }

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    >ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >li {


            height: 19px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            display: flex;
            align-items: center;
            letter-spacing: 0.06em;
            color: #000000;
            margin-right: 13px;
            min-width: 44px;
        }
    }
}

.auth {
    padding-bottom: 8px;

    >button {

        width: 58px;
        height: 33px;
        background: #FFFFFF;
        border-radius: 4px;
        border: none;
    }
}

main {
    width: 643px;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 56px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;


    >.left {
        >h3 {

            width: 120px;
            height: 28px;


            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;

            color: #9F9F9F;
        }

        >.btn-group {
            display: flex;
            justify-content: space-between;

            width: 259px;
            height: 30px;



            >a:first-child {
                border-radius: 3px 0px 0px 3px;
            }

            >a:last-child {
                border-radius: 0px 3px 3px 0px;
            }

            >a {
                display: inline-block;
                text-decoration: none;

                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid gray;

            }
        }
    }

    >.right {


        >h3 {
            width: 120px;
            height: 28px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;

            color: #9F9F9F;
        }

        >.btn-group {
            display: flex;
            justify-content: space-between;

            width: 259px;
            height: 30px;
        
              >a:first-child {
                  border-radius: 3px 0px 0px 3px;
              }

              >a:last-child {
                  border-radius: 0px 3px 3px 0px;
              }

            >a {
                display: inline-block;
                text-decoration: none;

                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid gray;

            }
        }
    }
}

.input-wrapper{
    margin-top: 20px;
    box-sizing: border-box;
    width: 259px;
    height: 102px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 14px;

    > p{
        margin-top: 20px;
    }

    > input{
        
        width: 230px;
        height: 38px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        border: none;
        outline: hidden;
    }
}

.active-button{
   background: #833AE0;
   color: white;
}@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;

        outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.container {
    max-width: 1152px;
    margin: auto;
}

header {
    min-height: 50px;
    width: 100%;
    background: #E5E5E5;

}

.navigation {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    padding-bottom: 8px;


    >.logo-img {
        width: 89px;
        height: 23px;
        position: relative;
    }

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    >ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >li {


            height: 19px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            display: flex;
            align-items: center;
            letter-spacing: 0.06em;
            color: #000000;
            margin-right: 13px;
            min-width: 44px;
        }
    }
}

.auth {
    padding-bottom: 8px;

    >button {

        width: 58px;
        height: 33px;
        background: #FFFFFF;
        border-radius: 4px;
        border: none;
    }
}

main {
    width: 643px;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 56px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;


    >.left {
        >h3 {

            width: 120px;
            height: 28px;


            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;

            color: #9F9F9F;
        }

        >.btn-group {
            display: flex;
            justify-content: space-between;

            width: 259px;
            height: 30px;



            >a:first-child {
                border-radius: 3px 0px 0px 3px;
            }

            >a:last-child {
                border-radius: 0px 3px 3px 0px;
            }

            >a {
                display: inline-block;
                text-decoration: none;

                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid gray;

            }
        }
    }

    >.right {


        >h3 {
            width: 120px;
            height: 28px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;

            color: #9F9F9F;
        }

        >.btn-group {
            display: flex;
            justify-content: space-between;

            width: 259px;
            height: 30px;
        
              >a:first-child {
                  border-radius: 3px 0px 0px 3px;
              }

              >a:last-child {
                  border-radius: 0px 3px 3px 0px;
              }

            >a {
                display: inline-block;
                text-decoration: none;

                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid gray;

            }
        }
    }
}

.input-wrapper{
    margin-top: 20px;
    box-sizing: border-box;
    width: 259px;
    height: 102px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 14px;

    > p{
        margin-top: 20px;
    }

    > input{
        
        width: 230px;
        height: 38px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        border: none;
        outline: hidden;
    }
}

.active-button{
   background: #833AE0;
   color: white;
}